/**
 * index.scss
 * - Add any styles you want here!
 */

html,
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  min-width: 260px;
  color: #333;
  background-color: #a3d5d3;
}

#main {
  margin: 30px auto;
  padding: 15px;
  border: 0px solid;
  border-radius: 5px;
  background: #eee;
}

img {
   
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  
}

#img-div {
  
  margin: -5px;
  margin-top: 20px;
  width: 100%;
  border: 5px solid white;
  background: white;
}

#img-caption {
  margin: 18px;
}

#image {
    
  max-width: 100%;
  height: auto;
  margin: auto;
  border: 4px dotted Tomato;
  
}
#iframe {
  max-width: auto;
  height: 400px;
  margin: auto;
  border: 10px double DodgerBlue;
}
div {
  text-align: center;
  
}
ul {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline;
  margin: 12px;
}
.video {
}

p,
h3 {
  color: orange;
  text-align: center;
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #3cb371;
  text-align: center;
}
